<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>CARP CLIENT API - FLASK</title>
    <link rel="shortcut icon" type="image/png" href=cachet.png"/>
    <link rel="stylesheet" href="home.css">
</head>

<body>
<div class=page-body>
    <link rel="shortcut icon" type="image/png" href=cachet.png"/>
    <h1>CARP CLIENT API - FLASK</h1>
    <p>
        Project example using Flask
    </p>
</div>
<div class=footer>
    <a href="https://carp.cachet.dk" target="_blank">Copenhagen Center for Health Technology</a>
</div>
</body>
</html>